#headerContainer {
  display: flex;
  flex: 0 1 150px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: relative;
  /* margin-left: 20px;
  margin-right: 20px; */
  /* justify-content: center; */
  /* align-items: center; */
}

#heading {
  /* display: flex;
    flex: 0 1 150px; */
  flex: 1 1 100%;
  /* align-self: center; */
  /* align-items: center;
    justify-content: center; */
  font-size: 50px;
}

#subHeading {
  flex: 1 1 100%;
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
  top: 105px;
}

#contentContainer {
  position: relative;
}
